/* =========Agrega el estilo del encabezado donde esta el logo de la Universidad y los datos de el estudiante y profesor */
body { 
  margin: 0;
  padding: 0;
  background: url(fondo.jpg);
  background-size: cover;
  background-position: center;
  font-family: sans-serif;
}

.header {
  overflow: hidden;
  background: rgb(9, 61, 70);
  /*background-color: #f1f1f1;
  padding: 5px 10px;*/
  height: 120px;
}

.header-left { 
  float: left;
}

.header-right {
  float: right;
}
/* =======================================Termina el estilo del encabezado =============================================== */
